<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>selfstudy-servlet</display-name>
	<servlet>
		<servlet-name>hi</servlet-name>
		<servlet-class>com.llmcu.selfstudy.servlet.HiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hi</servlet-name>
		<url-pattern>/sayHi</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>para</servlet-name>
		<servlet-class>com.llmcu.selfstudy.servlet.TestParameter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>para</servlet-name>
		<url-pattern>/testParameter</url-pattern>
	</servlet-mapping>
</web-app>